@font-face {
    font-family: 'Comic Sans';
    src: url(./Comic\ Sans\ MS.ttf);
}

.border {
    margin: 0 15.5% 0 15.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

.comic-sans {
    font-family: 'Comic Sans';
}